:root {
    --x1: 0px;
    --y1: 0px;
    --x2: 100px;
    --y2: 100px;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
    padding-top: 60px;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

a:link, a:visited, a:active  {
    color: inherit;
}

button {
    border: 0;
}

th {
    padding-bottom: 1em;
}

td {
    font-weight: 500;
    letter-spacing: 1px;
}

tbody td {
    padding-bottom: 0.5em;
    text-align: center;
}

header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: #FFFFFF;
    letter-spacing: 3px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    background: #0d47a1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    z-index: 60;
    width: 100%;
    height: 6rem;
    font-family: 'Varela Round', sans-serif;
    font-size: 0.7em;
    text-align: center;
    background-color: #0d47a1;
    color: #FFFFFF;
}

footer div a {
    margin-left: 1rem;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    z-index: 10;
    height: calc(100% - 6rem);
    width: 100%;
}



.main--container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main--bg {
    height: 100%;
    width: 100%;
    background: url("./bg.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    transform: scale(2.0);
    animation: 10s slidein infinite ease-in-out;
}

.main--shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 20rem 3.5rem rgba(0,0,0,0.7);
    transition: all 0.45s ease-in-out;
}

@keyframes slidein {
    0% {
        transform: translate(var(--x1), var(--y1)) scale(1.7);
    }

    10% {
        transform: translate(var(--x1), var(--y1)) scale(2.0);
    }

    80% {
        transform: translate(var(--x2), var(--y2)) scale(1.7);
    }

    100% {
        transform: translate(var(--x2), var(--y2)) scale(1.7);
    }
}

.intro {
    font-size: 1.3em;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
    text-align: center;
    color: #FFFFFF;
}

.intro--login, .intro--register {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.intro--login {
    border-right: 1px solid black;
}


.intro button {
    font-size: 1.8em;
    background-color: #ffeb3b;
    border: 2px solid black;
    padding: 0.5em 2em 0.5em 2em;
    transition: all 0.25s linear;
}

.intro button:hover {
    text-decoration: underline;
    color: #FFFFFF;
    border: 2px solid white;
    background-color: rgba(0,0,0, 0.4);
    cursor: pointer;
}

.intro .content {
    max-width: 50%;
    font-size: 1.2em;
}

.intro .heading {
    font-size: 2em;
}

.entry {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.33s ease-in-out;
}

.entry form {
    height: 100%;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 2.5em;
}

.entry form input {
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.entry form input:focus {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 5px #82b8ee;
    border:none;

}

.entry form input:not(:invalid) {
}

.entry form button {
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: none;
    inset: 0 10px 9px 0;
    font-size: 1.5em;
    transition: 0.1s all linear;
    border: 1px solid #000000;
    text-shadow: 5px 10px 1px 1px #000000;
    background-color: #2063D2;
}

.entry form button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #FFFFFF;
}

.entry form label {
    top: -3em;
    position: relative;
    display: block;
    letter-spacing: 1px;
    font-size: 1.5em;
    transition: transform ease 0.3s;
    cursor: text;
}

.entry form input[type="text"] {
}

.entry form input:focus + label {
    transform: translateY(-2.2em);
}

.entry form input:not(:invalid) + label {
    transform: translateY(-2.2em);
}

.entry--navBar {
    font-size: 1.2em;
    height: 3em;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.entry--navBar--item {
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dcdcdc;
}

.entry--navBar--item.active {
    text-decoration: underline;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2063D2;
}

.entry--error {
    color: #FFFFFF;
    width: 50%;
    margin: 2em auto 0 auto;
    text-align: center;
    background-color: #FF5555;
}

.entry--error div {
    padding: 1em;
}

.modal {
    display: block;
    position: absolute;
    margin: 13vh 35vw;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 110;
}

.game {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.game--controls {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1 0;
    text-align: center;
    background-color: #0d47a1;
    color: #FFFFFF;
    border-top: 1px solid black;
}

.game--controls > div {
    width: 100%;
    padding: 0 5%;
}

.game--controls > div table {
    width: 100%;
    table-layout: fixed;
}

.game--user {
    margin-top: 0.5em;
}

.game--user--container {
    display: flex;
    flex-direction: column;
}

.game--user--container > div{
    margin: 1em 0;
}

.game--user--container > div *:nth-child(1) {
    float: left;
}

.game--user--container > div *:nth-child(2) {
    float: right;
}

.game--controls div h2 {
    margin: 0.5em 0 1em 0;
    text-decoration: underline;
}

.game--user button {
    line-height: 1.2em;
    padding: 2px 0;
    margin-bottom: 5px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.game--user button:hover {
    background-color: #0d4771;
}

.game--topfive {
}

.game--superstar img {
    padding: 2em;
    border: 2px solid black;
    background-color: #ffeb3b;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.5);
    margin: 2em 0;
}

#main_map {
    flex: 3 0 auto;
    height: calc(100%);
}

.map--popup {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #ffeb3b;
    padding: 2em;
}

.popup--station {
    margin-bottom: 1em;
}

.popup--station h3{
    margin-bottom: 0.5em;
}

.map--popup button {
    cursor: pointer;
    padding: 0.5em 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-size: 1.2em;
    border: 1px solid #000000;
    background-color: #3333FF;
    margin: 0.25em 0;
}

.map--popup button:hover {
    background-color: #0073D2;
    border: 1px solid #FFFFFF;
}

.map--popup--container {
    min-width: 150px;
}

.hidden {
    display: none !important;
}

.leaflet-popup-content-wrapper {
    background-color: #ffeb3b;
}

@media (max-width:1100px) or (max-height:1050px) {

    body {
        font-size: 0.7em;
        line-height: 1;
    }

    .main--bg {
        transform: scale(2.0);
    }

    .intro {
        flex-direction: column;
    }

    .intro--login {
        border: none;
        border-bottom: 1px solid #000000;
    }

    .game {
        flex-direction: column;
    }

    .game--controls {
        flex-direction: row;
    }

    #main_map {
        flex: 1 0 auto;
        height: 840px;
    }

    .modal {
        margin: 13vh 10vw;
    }

    #main_map {
        height: 500px;
    }
}

@media (max-width: 800px) or (max-height: 735px) {

    body {
        min-height: 600px;
        min-width: 600px;
    }

    .modal {
        width: 100%;
        margin: 0;
        top: calc(60px + 10vh);
    }
}